{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block content %}

<h1>Добавление статьи в блог</h1>

<form action="" method="post">
<!--добаляем специальный токен для отправки данных формы на сервер с целью зашиты от подмены--> {% csrf_token %}
{% comment %}
{{ form.as_p}}
{% endcomment %}
<div class="form-group">
<label for="{{ form.title.id_for_label }}">Название:</label>
{{ form.title}}
<div class="invalid_feedback">
{{ form.title.errors }}
</div>
</div>
<div class="form-group">
<label for="{{ form.slug.id_for_label }}">Cлar:</label>
{{ form.slug }}
<div class="invalid_feedback">
{{ form.slug.errors }}
</div>
</div>
<div class="form-group">
<label for="{{ form.content.id_for_label }}">Текст новости:</label> {{ form.content }}
<div class="invalid_feedback">
{{ form.content.errors }}
</div>
</div>
<div class="form-group">
<label for="{{ form.category.id_for_label }}">Kатегория:</label>
{{ form.category }}
<div class="invalid_feedback">
{{ form.category.errors }} </div>
</div>
<button type="submit" class="btn btn-primary btn-block">Добавить новостb</button>
</form>
{% endblock %}