<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'test/style_4.css'%}">
</head>
<body>
    <p class="task1">Django (Джанго) — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования МѴС. Документация на русском языке.</p>
    <p class="task1">Рецепты Django ORM - это книга о работе с моделями Django ORM и Django. Django ORM является одним из ключевых столпов Django.</p>
    <p class="task1">SQL Alchemy - это набор инструментов Python SQL и Object Relational Mapper, который дает разработчикам приложений всю мощь и гибкость SQL.</p>
    <p class="task1">Channels - это проект, который использует Django и расширяет его возможности за пределы НТТР - для обработки WebSockets, протоколов чата, ІоТ- протоколов и многого другого.</p>


    <p class="task2">Django (Джанго) — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования МѴС. Документация на русском языке.</p>
    <p class="task2">Рецепты Django ORM - это книга о работе с моделями Django ORM и Django. Django ORM является одним из ключевых столпов Django.</p>
    <p class="task2">SQL Alchemy - это набор инструментов Python SQL и Object Relational Mapper, который дает разработчикам приложений всю мощь и гибкость SQL.</p>
    <p class="task2">Channels - это проект, который использует Django и расширяет его возможности за пределы НТТР - для обработки WebSockets, протоколов чата, ІоТ- протоколов и многого другого.</p>


    <p class="task3">это книга о работе с моделями Django ORM и Django. Django ORM является одним из ключевых столпов Django. SQL Alchemy - это набор инструментов Python SQL и Object Relational Mapрег, который дает разработчикам приложений всю мощь и гибкость SQL. Channels - это проект, который использует Django и расширяет его возможности за пределы HTTP для обработки WebSockets, протоколов чата, ІоТ- протоколов и многого другого.</p>
    <input placeholder="test" class="task4">
    <p class="task6">Django Rest Framework (DRF) — это библиотека, которая работает со стандартными моделями Django для создания гибкого для проекта</p>
    <p class="task6">Django CMЅ это современная платформа для веб-публикаций, построенная на Django, фреймворке веб-приложений «для перфекционистов с соблюдением сроков»</p>
    <p class="task6">ASGI (Asynchronous Server Gateway Interface) является духовным наследником WSGI, предназначенным для обеспечения стандартного интерфейса между асинхронными веб-серверами, платформами и приложениями Python</p>
    <p class="task6">Python Social Auth это простой в настройке механизм социальной аутентификации/регистрации с поддержкой нескольких платформ и провайдеров аутентификации.</p>
    <p class="task6">Django Crispy Forms. Лучший способ получить Django DRY формы. Создавайте программные макеты многократного использования из компонентов, имея полный контроль над отображаемым HTML без записи HTML в шаблонах.</p>

    <div class="container">
        <p class="task8">Django Rest Framework (DRF) — это библиотека, которая работает со стандартными моделями Django для создания гибкого и мощного АРІ для проекта</p>
        <p class="task8">Django CMS - это современная платформа для веб-публикаций, построенная на Django, фреймворке веб-приложений «для перфекционистов с соблюдением сроков»</p>
        <p class="task8">AЅGI (Asynchronous Server Gateway Interface) является духовным наследником WSGI, предназначенным для обеспечения стандартного интерфейса между асинхронными веб-серверами, платформами и приложениями Python.</p>
        <p class="task8">Python Social Auth - это простой в настройке механизм социальной аутентификации/регистрации с поддержкой нескольких платформ и провайдеров аутентификации.</p>
    </div>


    <div class="container2">
        <p class="task9">Быть энтузиасткой сделалось ее общественным положением, и иногда, когда ей даже того не хотелось, она, чтобы не обмануть ожиданий людей, знавших ее, делалась энтузиасткой.</p>
        <p class="task9">В середине разговора про политические действия Анна Павловна разгорячилась.</p>
        <p class="task9">Ах, не говорите мне про Австрию! Я ничего не понимаю, может быть, но Австрия никогда не хотела и не хочет войны. Она предает нас. Россия одна должна быть спасительницей Европы. Наш благодетель знает свое высокое призвание и будет верен ему. Вот одно, во что я верю.</p>
        <p class="task9">Я думаю, - сказал князь улыбаясь, что ежели бы вас послали вместо нашего милого Винценгероде, вы бы взяли приступом согласие прусского короля. Вы так красноречивы. Вы дадите мне чаю?</p>
        <p class="task9">Абзац сброса после него нумерация начнется сначала.</p>
        <p class="task9">Ах, не говорите мне про Австрию! Я ничего не понимаю, может быть, но Австрия никогда не хотела и не хочет войны. Она предает нас. Россия одна должна быть спасительницей Европы. Наш благодетель знает свое высокое призвание и будет верен ему. Вот одно, во что я верю.</p>
        <p class="task9">Я думаю, - сказал князь улыбаясь, что ежели бы вас послали вместо нашего милого Винценгероде, вы бы взяли приступом согласие прусского короля. Вы так красноречивы. Вы дадите мне чаю?</p>
    </div>



    <ul class="task10">
        <li>1</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
    </ul>

    <ul class="task101">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
        <li>I</li>
    </ul>
</body>
</html>