<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'test/style_6.css'%}">
</head>
<body>
    <table class="task1_table">
        <caption class="task1_upper_caption">шапка сайта(логоти, слоган, телефон)</caption>
        <tr>
            <td class="task1_title1 border_yes">навигация</td>
            <td class="task1_title2">заголовок</td>
        </tr>
        <tr>
            <td class="border_yes">
                <ul>
                    <li><a href="#">Ссылка 1</a> </li>
                    <li><a href="#">Ссылка 2</a></li>
                    <li><a href="#">Ссылка 3</a></li>
                </ul>
            </td>
            <td class="border_yes">
                <p>
                    контент
                </p>
            </td>
        </tr>
        <caption class="task1_bottom_caption">низ сайта(баннеры, счетчики, информация)</caption>
    </table>

    <div class="task23_container">
        <div class="task23_upper">верхняя панель</div>
        <div class="task23_middle">
            <div class="task23_menu">меню</div>
            <div class="task23_content">контент</div>
        </div>
        <div class="task23_bottom">нижняя панель</div>
    </div>

    <div class="task3_container">
        <div class="task23_upper">верхняя панель</div>
        <div class="task23_middle">
            <div class="task23_menu">меню</div>
            <div class="task23_content">контент</div>
        </div>
        <div class="task23_bottom">нижняя панель</div>
    </div>

    <div class="task4_container">
        <div class="task4_block">
            <div class="task4_brown task4_block_title">Рецепты Django ORM</div>
            <div class="task4_light_brown task4_block_text">Рецепты Django ORM,
                это книга о работе с моделями,
                Django ORM и Django.
                Django ORM является одним из ключевых столпов Django.
            </div>
        </div>
        <div class="task4_block">
            <div class="task4_green task4_block_title">SQLAlchemy на русском</div>
            <div class="task4_light_green task4_block_text">SQL Alchemy - это набор инструментов,
                Python SQL и Object Relational Маррег,
                одним из ключевых столпов Django. | который дает разработчикам
                приложений гибкость SQL.
            </div>
        </div>
        <div class="task4_block">
            <div class="task4_blue task4_block_title">Django Crispy Forms</div>
            <div class="task4_light_blue task4_block_text">Лучший способ получить Django DRY формы
                Создавайте программные макеты, многократного использования из компонентов, имея полный контроль
            </div>
        </div>
    </div>
</body>
</html>