<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример HTML файла</title>
        <style>
        dl {
            margin: 0;
            padding: 0;
        }
        dt {
            font-weight: bold;
        }
        dd {
            margin-left: 0;
            padding-left: 0;
        }
   .table {
        border-spacing: 10px;
        border-collapse: collapse;
        border: 1px solid black;
        width: 400px;
        border-collapse: separate;
        border-spacing: 10px;
    }
    .table td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }
    .table-borderless {
        margin-top: 50px;
        border-collapse: collapse;
        border: 1px solid black;
        width: 400px;
    }
    .table-borderless th, td {
        border: 1px solid black;

    }
    .lefty {
        text-align: left;
        width : 25px;
        height: 50px;
    }
    .center {
        text-align: center;
        width : 25px;
        height: 50px;
    }
    .righty {
        text-align: right;
        width : 25px;
        height: 50px;
    }
    .big-table td {
          width: 75px;
          height: 75px;
          }
    </style>
</head>
<body>
<h2>Работа со временем</h2>

<ol>
  <li>Создание пунктуальности (никогда не будете никуда опаздывать)</li>
  <li>излечение от пунктуальности (никогда никуда не будете торопиться)</li>
  <li>Изменение восприятия времени и часов</li>
</ol>

<h2>Список изученных тегов</h2>

<ul>
  <li>html</li>
  <li>head</li>
  <li>body</li>
  <li>p</li>
  <li>h1</li>
  <li>h2</li>
</ul>

<h2>Расшифровка тегов списков</h2>

<dl>
  <dt>dl</dt>
  <dd>Definition List, сам список определений</dd>

  <dt>dt</dt>
  <dd>Definition Term, термин</dd>

  <dt>dd</dt>
  <dd>Definition Definition, определение термина</dd>

  <dt>ul</dt>
  <dd>Unordered List, неупорядоченный список</dd>

  <dt>li</dt>
  <dd>List Item, элемент списка</dd>
</dl>
<h1 style="border-bottom: 1px solid black; width: 350px; height: 65px; display: flex; justify-content: center; align-items: flex-start;">Компьютерные сети</h1>
<h2>Английские термины</h2>

<dl>
  <dt><b>Internet</b></dt>
  <dd><b>Глобальная компьютерная сеть</b></dd>

  <dt><b>internet</b></dt>
  <dd>технология сетевого взаимодействия между компьютерами разных типов</dd>

  <dt><b>WAIS (Wide Area Information Servers)</b></dt>
  <dd>Мощная система поиска информации в базах данных сети Интернет по ключевым словам</dd>
</dl>
<h2>Список изученных тегов</h2>

<ul>
  <li>html</li>
  <li>head</li>
  <li>body</li>
  <li>p</li>
  <li>h1</li>
  <li>h2</li>
</ul>
<p>Неупорядоченный список используется для простого перечисления объектов, когда порядок неважен</p>

<h2>Какие бывают заголовки?</h2>

<ol start="2">
  <li>h1</li>
  <li>h2</li>
  <li>h3</li>
  <li>h4</li>
  <li>h5</li>
  <li>h6</li>
</ol>

<p>Упорядоченный список используется для перечисления объектов или действий, когда важен порядок </p>
<ol>
  <li>Веб разработка</li>
  <ol>
    <li>Основы HTML
      <ol>
        <li>HTML-теги
          <ol>
            <li>Парные</li>
            <li>Одиночные</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Основы CSS
      <ol>
        <li>Селекторы
          <ol>
            <li>по типу</li>
            <li>по классу</li>
            <li>вложенные</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      Стиль кодированияё
    </li>
  </ol>
  <li>Работа с фотошопом</li>
  <li>Построение сеток</li>
  <li>Введение в JavaScript</li>
  <li>Прогрессивное улучшение</li>
</ol>
<h3 style="width: 550px; height: 25px; display: flex; justify-content: center; align-items: flex-start;">Великие ученые-математики</h3>

<dl style="width: 500px">
  <dt><b>Пьер Ферма (1601-1665)</b></dt>
  <dd>Французский математик, один из создателей аналитической геометрии и дифференциального исчисления. Открыл правило нахождения экстремума с помощью производной. Автор многих теорем теории чисел.</dd>

  <dt><b>Годфрид Вильгельм Лейбниц (1646-1716)</b></dt>
  <dd>Немецкий математик, физик, философ, создатель Берлинской академии наук. Основоположник Дифференциального и интегрального исчисления, ввел большую часть современной символики математического анализа. В работах Лейбница впервые появились идеи теории алгоритмов.</dd>

</dl>
<h2>Времена года и месяцы</h2>

<ol>
  <li>Зима
    <ol type="A">
      <li>Декабрь</li>
      <li>Январь</li>
      <li>Февраль</li>
    </ol>
  </li>
  <li>Весна
    <ol type="a">
      <li>Март</li>
      <li>Апрель</li>
      <li>Май</li>
    </ol>
  </li>
  <li>Лето
    <ol type="I">
      <li>Июнь</li>
      <li>Июль</li>
      <li>Август</li>
    </ol>
  </li>
  <li>Осень
    <ol type="i">
      <li>Сентябрь</li>
      <li>Октябрь</li>
      <li>Ноябрь</li>
    </ol>
  </li>
</ol>

<h2>Времена года и месяцы</h2>

<ul type="circle">
  <li><u>Курганской</u>
    <ol>
      <li>Шадринск</li>
      <li>Катайск</li>
      <li>Долматово</li>
    </ol>
  </li>
  <li><u>Свердловской</u>
    <ol>
      <li>Каменск-Уральский</li>
      <li>Верхняя Пышма</li>
    </ol>
  </li>
  <li><u>Челябинской</u>
    <ol>
      <li>магнитогорск</li>
      <li>Златоуст</li>
    </ol>
  </li>
</ul>
<h2>Времена года и месяцы</h2>

<ol type="a">
  <li>Производительность
    <ul style="list-style-type: square">
      <li>Время реакции</li>
      <li>Скорость передачи данных</li>
        <ul style="list-style-type: circle">
          <li>мгновенная скорость</li>
          <li>средняя скорость</li>
          <li>Максимальная скорость</li>
        </ul>
      <li>Задержка передачи</li>
    </ul>
  </li>
  <li>Надежность и безопасность
    <ul style="list-style-type: square">
      <li>Готовность</li>
      <li>Безопасность</li>
      <li>Отказоустойчивость</li>
    </ul>
  </li>
  <li>Расширяемость и масштабируемость</li>
  <li>Прозрачность</li>
  <li>Управляемость</li>
  <li>Совместимость</li>
  <li>Качество обслуживания</li>
</ol>
<h2>Списки</h2>
<h3>
  Список цветов
</h3>
<ul>
  <li>Красный</li>
  <li>Желтый</li>
  <li>Зеленый</li>
  <li>Синий</li>
</ul>
<h3>
  Список студентов
</h3>
<ol>
  <li>Иванов</li>
  <li>Петров</li>
  <li>Сидоров</li>
  <li>Николаев</li>
</ol>
<h3>
  Список студентов
</h3>
<ol>
  <li>Иванов</li>
  <ul>
    <li>Возраст - 23 года</li>
    <li>Курс - 3</li>
  </ul>
  <li>Петров</li>
  <ul>
    <li>Возраст - 19 года</li>
    <li>Курс - 2</li>
  </ul>
  <li>Сидоров</li>
  <ul>
    <li>Возраст - 18 года</li>
    <li>Курс - 1</li>
  </ul>
</ol>
<div style="border: dotted 1px black">
  <ol>
    <li><b>HTML</b></li>
    <li>CSS</li>
    <li>PHP</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>jQuery</li>
    <li>Flash</li>
    <li>SEO</li>
  </ol>
  <h2>PHP и JavaScript</h2>
  <p>Языки программирования <b>PHP и JavaScript</b> позволяют сделать сайт динамичным, то есть реагирующим на действия пользователя. Например можно сделать красивую выпадающую менюшку или слайдер</p>
  <h2>Виды скриптов</h2>
  <p>Для этого пишутся скрипты (англ. script - "сценарий") - программы, позволяющие реагировать на действия пользователя. Скрипты бывают двух видов:</p>
  <ul>
    <li>те, которые выполняются на сервере, а результат их выполнения приходит в браузер уже в готовом виде. Это скрипты, написанные на языке <b>PHP</b>. На нем пишутся <b>CSM-ки</b> - системы управления контентом</li>
    <li>те, которые выполняются прямо в браузере пользователя. Это скрипты, написанные на языке <b>JavaScript</b>. Они чаще всего используются, чтобы сделать страницу более удобной и красивой</li>
  </ul>
</div>
  <ol>
    <li>Зима
      <ul>
        <li>Декабрь</li>
        <li>Январь</li>
        <li>Февраль</li>
      </ul>
    </li>
    <li>Весна
      <ul>
        <li>Март</li>
        <li>Апрель</li>
        <li>Май</li>
      </ul>
    </li>
    <li>Лето
      <ul>
        <li>Июнь</li>
        <li>Июль</li>
        <li>Август</li>
      </ul>
    </li>
    <li>Осень
      <ul>
        <li>Сентябрь</li>
        <li>Октябрь</li>
        <li>Ноябрь</li>
      </ul>
    </li>
  </ol>
  <ol>
    <li>
      Зима
      <ul>
        <li>Декабрь</li>
        <li>Январь</li>
        <li>Февраль</li>
      </ul>
    </li>
    <li>
      Весна
      <ul>
        <li>Март</li>
        <li>Апрель</li>
        <li>Май</li>
      </ul>
    </li>
    <li>
      Лето
      <ul>
        <li>Июнь</li>
        <li>Июль</li>
        <li>Август</li>
      </ul>
    </li>
    <li>
      Осень
      <ul>
        <li>Сентябрь</li>
        <li>Октябрь</li>
        <li>Ноябрь</li>
      </ul>
    </li>
  </ol>
    <dl>
        <dt style="color: green;">&#9728;Солнечно:</dt>
        <dd>Кругом тепло и солнечно, тучки почти отсутствуют.</dd>

        <dt style="color: green;">&#9729;Облачно:</dt>
        <dd>Небо покрыто тучками, солнышко почти не видно.</dd>

        <dt style="color: green;">&#9730;Дождь:</dt>
        <dd>Серые тучи покрывают все небо и обильно поливают нас дождем.</dd>
    </dl>

<table class="table">
                <tr>
                    <td>Ячейка 1-1</td>
                    <td>Ячейка 1-2</td>
                    <td>Ячейка 1-3</td>
                </tr>
                <tr>
                    <td>Ячейка 2-1</td>
                    <td>Ячейка 2-2</td>
                    <td>Ячейка 2-3</td>
                </tr>
                <tr>
                    <td>Ячейка 3-1</td>
                    <td>Ячейка 3-2</td>
                    <td>Ячейка 3-3</td>
                </tr>
            </table>
            <table class="table-borderless">
                <tr class="center">
                    <th>Заголовок 1</th>
                    <th>Заголовок 2</th>
                    <th>Заголовок 3</th>
                </tr>
                <tr class="lefty">
                    <td>Ячейка 2-1</td>
                    <td>Ячейка 2-2</td>
                    <td>Ячейка 2-3</td>
                </tr>
                <tr class="lefty">
                    <td>Ячейка 3-1</td>
                    <td>Ячейка 3-2</td>
                    <td>Ячейка 3-3</td>
                </tr>
            </table>
            <table class="table-borderless">
                <tr class="center">
                    <th>Заголовок 1</th>
                    <th>Заголовок 2</th>
                    <th>Заголовок 3</th>
                </tr>
                <tr>
                    <td class="righty">Ячейка 2-1</td>
                    <td>Ячейка 2-2</td>
                    <td class="lefty">Ячейка 2-3</td>
                </tr>
                <tr>
                    <td class="lefty">Ячейка 3-1</td>
                    <td class="center">Ячейка 3-2</td>
                    <td class="righty">Ячейка 3-3</td>
                </tr>
            </table>
            <table style="        margin-top: 50px;
        border-collapse: collapse;
        border: 1px solid black;
        width: 600px;
        text-align: center;">
                <tr>
                    <th>Номер</th>
                    <th>Тэг</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>i</td>
                    <td>курсив</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>td</td>
                    <td>ячейка таблицы</td>
                </tr>
              <tr>
                    <td>3</td>
                    <td>a</td>
                    <td>ссылка</td>
                </tr>
              <tr>
                    <td>4</td>
                    <td>th</td>
                    <td>заголовок таблицы</td>
                </tr>
              <tr>
                    <td>5</td>
                    <td>table</td>
                    <td>таблица</td>
                </tr>
              <tr>
                    <td>6</td>
                    <td>p</td>
                    <td>абзац</td>
                </tr>
              <tr>
                    <td>7</td>
                    <td>b</td>
                    <td>жирный текст</td>
                </tr>
              <tr>
                    <td>8</td>
                    <td>tr</td>
                    <td>строка таблицы</td>
                </tr>
            </table>
<table style="        margin-top: 50px;
        border-collapse: collapse;
        border: 1px solid black;
        width: 400px;">
  <tr>
    <td colspan="2">ячейка 1</td>
    <td>ячейка 3</td>
  </tr>
  <tr>
    <td rowspan="2">ячейка 4</td>
    <td>ячейка 5</td>
    <td>ячейка 6</td>
  </tr>
  <tr>
    <td>ячейка 8</td>
    <td>ячейка 9</td>
  </tr>
</table>
<table style="        margin-top: 50px;
        border-collapse: collapse;
        border: 1px solid black;
        width: 400px;
        text-align: center;">
  <tr>
    <td rowspan="3">ячейка 1</td>
    <td>ячейка 2</td>
    <td rowspan="3">ячейка 3</td>
  </tr>
  <tr>
    <td>ячейка 5</td>
  </tr>
  <tr>
    <td>ячейка 8</td>
  </tr>
</table>

<table class="big-table" style="        margin-top: 50px;
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;">
  <tr>
    <td colspan="7">ячейка 1</td>

  </tr>
    <tr>
    <td rowspan="3">ячейка 8</td>
    <td colspan="4">ячейка 9</td>
    <td rowspan="2">ячейка 13</td>
      <td rowspan="2">ячейка 14</td>
  </tr>
    <tr>
    <td rowspan="3">ячейка 16</td>
    <td colspan="2">ячейка 17</td>
    <td>ячейка 19</td>
  </tr>
    <tr>
    <td rowspan="2">ячейка 24</td>
    <td>ячейка 25</td>
    <td>ячейка 26</td>
    <td>ячейка 27</td>
      <td rowspan="3">ячейка 28</td>
  </tr>
    <tr>
    <td>ячейка 29</td>
    <td>ячейка 32</td>
    <td rowspan="3">ячейка 33</td>
    <td>ячейка 34</td>
  </tr>
    <tr>
    <td>ячейка 36</td>
    <td>ячейка 37</td>
    <td>ячейка 38</td>
    <td>ячейка 39</td>
  </tr>
  <tr>
    <td colspan="4">ячейка 43</td>
  </tr>
   <tr>
    <td colspan="3">ячейка 50</td>
  </tr>
</table>
<table style="border-collapse: collapse; margin-top: 50px;">
<tr>
 <th style="border: 1px solid black; padding: 5px;" colspan="2">Ячейка на два столбца</th>
</tr>
<tr>
 <td style="border: 1px solid black; padding: 5px;">Ячейка 1</td>
 <td style="border: 1px solid black; padding: 5px;">Ячейка 2</td>
</tr>
</table>
<table style="border-collapse: collapse; margin-top: 50px;">
<tr>
 <th style="border: 1px solid black; padding: 5px;" rowspan="3">Ячейка на три строки</th>
 <td style="border: 1px solid black; padding: 5px;">Ячейка 1</td>
</tr>
<tr>
 <td style="border: 1px solid black; padding: 5px;">Ячейка 2</td>
</tr>
<tr>
 <td style="border: 1px solid black; padding: 5px;">Ячейка 3</td>
</tr>
</table>
<table style="border-collapse: collapse; margin-top: 50px;">
 <tr>
 <th style="border: 1px solid black;">Заголовок 1</th>
 <th style="border: 1px solid black;">Заголовок 2</th>
 <th style="border: 1px solid black;">Заголовок 3</th>
</tr>
 <tr>
 <td style="border: 1px solid black;">Ячейка 1x1</td>
 <td style="border: 1px solid black;">Ячейка 1x2</td>
 <td style="border: 1px solid black;">Ячейка 1x3</td>
 </tr>
 <tr>
 <td style="border: 1px solid black;">Ячейка 2x1</td>
 <td style="border: 1px solid black;">Ячейка 2x2</td>
 <td style="border: 1px solid black;">Ячейка 2x3</td>
</tr>
 </table>

 <table style="width: 100%; border-collapse: collapse; margin-top: 50px;">
 <tr>
 <th style="border: 1px solid black;">Заголовок 1</th>
 <th style="border: 1px solid black;">Заголовок 2</th>
 <th style="border: 1px solid black;">Заголовок 3</th>
</tr>
 <tr>
 <td style="border: 1px solid black;">Ячейка 1x1</td>
 <td style="border: 1px solid black;">Ячейка 1x2</td>
 <td style="border: 1px solid black;">Ячейка 1x3</td>
 </tr>
 <tr>
 <td style="border: 1px solid black;">Ячейка 2x1</td>
 <td style="border: 1px solid black;">Ячейка 2x2</td>
 <td style="border: 1px solid black;">Ячейка 2x3</td>
</tr>
 </table>



<table style="border-collapse: collapse; margin-top: 50px">
<caption style="caption-side: top; font-weight: bold;">Основной заголовок таблицы</caption>
 <tr>
 <th style="border: 1px solid black;">Заголовок 1</th>
 <th style="border: 1px solid black;">Заголовок 2</th>
 <th style="border: 1px solid black;">Заголовок 3</th>
</tr>
 <tr>
 <td style="border: 1px solid black;">Ячейка 1x1</td>
 <td style="border: 1px solid black;">Ячейка 1x2</td>
 <td style="border: 1px solid black;">Ячейка 1x3</td>
 </tr>
 <tr>
 <td style="border: 1px solid black;">Ячейка 2x1</td>
 <td style="border: 1px solid black;">Ячейка 2x2</td>
 <td style="border: 1px solid black;">Ячейка 2x3</td>
</tr>
 </table>

<table style="border-collapse: collapse; margin-top: 50px;">
 <tr>
 <td style="border: 1px solid black; padding: 25px;">Ячейка 1</td>
 <td style="border: 1px solid black; padding: 25px;">Ячейка 2</td>
 </tr>
 <tr>
 <td style="border: 1px solid black; padding: 25px;">Ячейка 3</td>
 <td style="border: 1px solid black; padding: 25px;">Ячейка 4</td>
</tr>
 </table>
</body>
</html>
